In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import json
import numpy as np
from wilson_modules import user_json_string

In [2]:
df_chat = pd.read_csv('/home/wilson/Downloads/group_chat_content(25).csv',encoding='utf_8_sig') # the file's name should be varied
df_chat = df_chat.drop(['id','group_displayname','content_type','robot_id','user_signature','region','city','robot_displayname','time'],axis=1)
# check if there are NaN data in the dataset
# df_chat[df_chat['content'].isnull()]

In [3]:
df_chat.dropna(subset=['content'],how='any',inplace=True)
# recheck whether the NaN data are still in the dataset
# df_chat[df_chat['user_info'].isnull()]

In [4]:
df_chat[df_chat['content'].isnull()]

Empty DataFrame
Columns: [user_nickname, user_info, content]
Index: []

In [5]:
len(df_chat)

17457

In [6]:
chat_user_info = df_chat['user_info'].astype(str)
region, city, signature = user_json_string.data_prepro(chat_user_info)

In [7]:
# there exit an issue, the code cannot handle empty user_info. What I am doing is find where the empty 
# 'user_info' is and manually remove it from the mysql database
df_chat['region']=region
df_chat['city']=city
df_chat['signature']= signature
# delete spaces in user_nickname
df_chat.drop(['user_info'],axis=1,inplace=True)
df_chat['user_nickname'] = df_chat['user_nickname'].str.replace(" ","")
# df_chat.to_csv('/home/wilson/Downloads/database/df_chat_trim.csv',index=False, header=True,encoding='utf_8_sig')

In [8]:
df_chat.dropna(subset=['user_nickname'],inplace=True)

In [9]:
# df.dropna(subset=['LABEL'],inplace=True)

In [10]:
df_chat.to_csv('/home/wilson/Desktop/databases/content_sig_labeling_withNaN.csv',index=False, header=True,encoding='utf_8_sig')

In [11]:
len(df_chat)

17457